SUPABASE_URL=your-supabase-url
SUPABASE_HOST=your-supabase-host
SUPABASE_KEY=your-supabase-anon-key
NEXTAUTH_URL=http://localhost:3000(or the url where hosted)
NEXTAUTH_SECRET=your-next-auth-secret
AUTH_GOOGLE_ID=your-google-auth-id
AUTH_GOOGLE_SECRET=your-google-auth-secret